<!--
      <div class="branding">
        <a routerLink="/" class="nav-link">
          <span class="logo"></span>
        </a>
        <span class="title">
          <a href="https://github.com/mauriciovigolo/keycloak-angular" target="_blank">keycloak-angular</a>
          - Anses Heroes
        </span>
      </div>
      <div class="header-nav" >
        <a routerLink="/" class="active nav-link nav-text">Home</a>
        <a class="nav-link nav-text" routerLink="/heroes">Heroes</a>
      </div>
      <div class="header-actions">

          <button class="nav-icon" >

          </button>

            <div class="userDetails" *ngIf="userDetails">
              <h2>{{userDetails.username}}</h2>
              <p>
                {{userDetails.email}}
              </p>
            </div>
            <a (click)="doLogout()" >Log out</a>

      </div> -->

    <div class="content-container">
      <main class="content-area">
        <router-outlet></router-outlet>
      </main>
    </div>


    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <span class="navbar-brand">NetCore - Keycloack</span>
          </div>
          <ul class="nav navbar-nav" *ngIf="userDetails">
              <li class="active"><a href="#" *ngIf="userDetails.username">
                {{userDetails.username}} <span class="sr-only">(current)</span>
              </a></li>
              <li><a href="#">Link</a></li>
              <li role="separator" class="divider"></li>
              <li><p>{{userDetails.email}}</p></li>
              <li role="separator" class="divider"></li>
              <li><a (click)="doLogout()" >Log out</a></li>
          </ul>
      </div>
  </nav>


  <div >
    <main class="container-fluid">
      <router-outlet></router-outlet>
    </main>
  </div>
