    <nav class="navbar navbar-default">
      <div class="container-fluid header-blue">
          <div class="navbar-header">
              <span class="navbar-brand navbar-btn pull-left logo"><img src="assets/img/logo.svg"></span>
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#" class="anses-nav-element anses-nav-element-font" *ngIf="userDetails">
                {{userDetails.username}} 
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li><a class="anses-nav-element anses-nav-element-font" href="#">Link</a></li>
              <li role="separator" class="divider">
              </li>
              <li>
                <p *ngIf="userDetails" class="anses-nav-element anses-nav-element-font">{{userDetails.email}}</p>
              </li>
              <li role="separator" class="divider">
              </li>
              <li>
                <a class="anses-nav-element anses-nav-element-font" (click)="doLogout()" >Log out</a>
              </li>
          </ul>
      </div>
  </nav>


  <div >
    <main class="container-fluid">
      <router-outlet></router-outlet>
    </main>
  </div>
